<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>

    <link rel="stylesheet" href='/css/header.css'>
    
    <div class="header">
      <img width="50px" src="images/LogoWeb.svg" alt="logo" />
      <a href="#home" class="logo">LOREM IPSUM VINOS</a>
      <div class="header-der">
        <a class="inicio" href="#home">Inicio</a>
        <a href="#contacto">Contacto</a>
        <a href="#acerca">Acerca de nosotros</a>
      </div>

    </div>
</head>

<body>
    <h1>Pagina principal de Lorem Ipsum Vinos</h1>
    <h2>Subtitulo</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro optio repellat ipsum quisquam minus alias perspiciatis fuga. Officiis quo ipsa, quasi rerum qui libero neque voluptatem natus pariatur possimus.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro optio repellat ipsum quisquam minus alias perspiciatis fuga. Officiis quo ipsa, quasi rerum qui libero neque voluptatem natus pariatur possimus.</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href= 'https://google.com.ar/'>Ir a Google</a>

</body>
</html>