<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
</head>
 
<body>
  <header class="header">
    <article class="header-top">
      <div class="logo2"><a href="#"><img width="100px" src="images/LogoWeb.svg" alt="logo" class="logo"></a></div>
      <div class="search-bar"><form action="/busqueda" method="GET">
        <label for="busqueda"></label>
        <input type="text" name="busqueda" placeholder="¿Qué estás buscando?" class="search-design">
      </form>
      </div>
      <div class="icons">
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-shopping-cart"></i>
      </div>
    </article>
      <a href="#home" class="logo"></a>
    <article class="sections">
        <a href="#">Vinos</a>
        <a href="#">Espumantes</a>
        <a href="#">Combos</a>
        <a href="#">Promociones</a>
        <a href="#">Viví tu experiencia</a>
        <a href="#">Quienes somos</a>
        <a href="#">Contacto</a>
    </article>
   
  </header>
    <h1>Pagina principal de Lorem Ipsum Vinos</h1>
    <h2>Subtitulo</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro optio repellat ipsum quisquam minus alias perspiciatis fuga. Officiis quo ipsa, quasi rerum qui libero neque voluptatem natus pariatur possimus.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro optio repellat ipsum quisquam minus alias perspiciatis fuga. Officiis quo ipsa, quasi rerum qui libero neque voluptatem natus pariatur possimus.</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href= 'https://google.com.ar/'>Ir a Google</a>

    <footer class="footer">


      <div class="flex-container">
        <div class="flex-item-left">
                <img src="/images/logo-tienda-vinos.svg" width="" alt="">
                <h3>Menu</h3>                  
                <ul>
                  <li><a href="#">Vinos</a></li>
                  <li><a href="#">Espumantes</a></li>
                  <li><a href="#">Combos</a></li>
                  <li><a href="#">Promociones</a></li>
                </ul>                    

        </div>   
        <div class="flex-item-left">
                <h3 class="footer a">Ayuda</h3>
                <ul>
                  <li><a href="#">Envios</a></li>
                  <li><a href="#">Formas de Pago</a></li>
                  <li><a href="#">Preguntas Frecuentes</a></li>
                  <li><a href="#">Términos y condiciones</a></li>
                </ul>                    
        </div>
        <div class="flex-item-left">
          <h3>Contacto</h3>
          <ul>
              <li><a href="#"><img src="/icons/icons8-mail-30.png" width="30" alt="30"></a>               
              <a href="#"> contacto@tiendadevinos.com</a></li>
              <li><a href="#"><img src="/icons/icons8-whatsapp-30.png" width="30" alt="30"></a> 
              <a href="#">+54-9-11 6 111 11 19</a></li>          
          </ul>
        </div>
        <div class="flex-item-left">
          <h3>Seguinos</h3>
          <img src="/icons/icons8-dots-loading-48.png" width="30" alt="30">
           <ul>
            <a href="#"><img src="/icons/icons8-instagram-30.png" width="30" alt="30"></a>
            <a href="#"><img src="/icons/icons8-facebook-30.png"  width="30" alt="30"></a>
            <a href="#"><img src="/icons/icons8-twitter-30.png"  width="30" alt="30"></a> 
           </ul>
        </div>  
   
        </div>
  </footer>
</body>
</html>