<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
</head>
 
<body>
  <header class="header">
    <article class="header-top">
      <div class="logo2"><a href="#home"><img width="100px" src="images/LogoWeb.svg" alt="logo" class="logo"></a></div>
      <div class="search-bar"><form action="/busqueda" method="GET">
        <label for="busqueda"></label>
        <input type="text" name="busqueda" placeholder="¿Qué estás buscando?" class="search-design">
      </form>
      </div>
      <div class="icons">
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-shopping-cart"></i>
      </div>
    </article>
      
    <article class="sections">
        <a href="#">Vinos</a>
        <a href="#">Espumantes</a>
        <a href="#">Combos</a>
        <a href="#">Promociones</a>
        <a href="#">Viví tu experiencia</a>
        <a href="#">Quienes somos</a>
        <a href="#">Contacto</a>
    </article>
   
  </header>
  
  <div class="carroussel">
    <a href="#"><img width="100px" src="images/HomeCarroussel.jpg" alt="carroussel" class="home-carroussel"></a>
    <h2 class="text-carroussel">Conocé nuestra exclusiva selección de vinos Alta Gama  </h2>
  </div>

  <section class="productos-destacados">
    <h3 class="seccion">Nuestros productos destacados</h3>
  <div class="products">
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article>
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article>

  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article>

  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article>
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article>
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article> 
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article> 
  <article class="product">
    <img src="/images/botella-producto.jpg" width= 80% alt="producto1" class="img-botella">
    <div class="main-article">
    <h4 class="description">Zuccardi Serie A Malbec</h4>
    <p class="precio">$6.770</p>
</div>
  </article> 
</div>
</section>
<section>
  <div class="pic-collage">
    <div class="pic-collage1">
    <a href="#" class="ahref"><img width="100px" src="images/cata.jpg" alt="carroussel" class="pic"></a>
    <h2 class="text-pic1">Las mejores degustaciones de vinos</h2>  
    <a href="#"><img width="100px" src="images/HomeCarroussel1.jpg" alt="carroussel" class="pic"></a>
    <h2 class="text-pic2">Adherite a nuestro club de puntos y recibi los mejores beneficios</h2>  
    </div>  
    <div class="pic-collage2">
    <a href="#"><img width="100px" src="images/bodega.jpg" alt="carroussel" class="pic2"></a>
    <h2 class="text-pic3">Esta es nuestra seleccion de bodegas mas recomendadas</h2>   
    </div>
</div>
</section>

<section class="aditional-info">
      <div class="dato">
        <i class="fas fa-credit-card"></i> 
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Ademas tenemos cuotas sin interés!</p>
      </div>  
      <div class="dato">
        <i class="fas fa-shipping-fast"></i>
        <h4>Envío gratis desde los $5.000</h4>
        <p>Envio gratis a CABA y GBA sin minimo de compra.</p>
      </div>
      <div class="dato">
        <i class="fas fa-wine-glass-alt"></i>
        <h4>Ofrecemos las mejores experiencias</h4>
        <p>¡Descubrí las mejores experiencias de la mano de expertos!</p>
      </div> 
      </section>

    <footer class="footer-style">

      <div class="flex-container">
        <div class="logo-footer"><a href="#"><img width="100px" src="images/LogoWeb.svg" alt="logo" class="logo"></a></div>
        <div class="flex-item-left">

            <h3>Menu</h3>                  
          <ul class="lista">
                  <li><a href="#">Vinos</a></li>
                  <li><a href="#">Espumantes</a></li>
                  <li><a href="#">Combos</a></li>
                  <li><a href="#">Promociones</a></li>
              </ul>                    

        </div>   
        <div class="flex-item-left">
            <h3 class="footer a">Ayuda</h3>
          <ul class="lista">
                  <li><a href="#">Envios</a></li>
                  <li><a href="#">Formas de Pago</a></li>
                  <li><a href="#">Preguntas Frecuentes</a></li>
                  <li><a href="#">Términos y condiciones</a></li>
                  <li><a href="#">Términos y condiciones</a></li>
                </ul>

        </div>
        <div class="flex-item-left">
            <h3>Contacto</h3>
          <ul class="lista">
              <li><a href="#"><i class="fas fa-envelope"></i></a>               
              <a href="#"> contacto@tiendadevinos.com</a></li>
              <li><a href="#"><i class="fas fa-phone-alt"></i></a> 
              <a href="#">+549 11 6111 1119</a></li>          
          </ul>
        </div>

        <div class="flex-item-left">
          <h3>Seguinos</h3>
           <ul class="lista">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a> 
           </ul>
        </div> 
        </div>
  </footer>
</body>
</html>