<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel="stylesheet" href='/css/login.css'>
    <link rel="stylesheet" href='/css/productDetail.css'>
    <link rel="stylesheet" href='/css/productcart.css'>
    <link rel="stylesheet" href='/css/crearProducto.css'>
    <link rel='stylesheet' href='/css/productEdit.css' />
</head>
<body>
  
  <%- include('../partials/header.ejs')  %>

      <form action="/products/edit/:idProduct?_method=PUT" method="POST" class="form-newpproduct-style">
         <h3>Modificar Producto</h3>
         <div class="contenedor-newProduct">
         <div class="formulario-producto">
            <label for="">Nombre del producto a modificar</label>
            <input type="text" name="productName" size="50" value="productToEdit.name Esto Value tiene que ser EJS pero no funciona con los %% ">            
         </div>
         <div class="formulario-producto">
            <label for="">Descripción</label>
            <input type="text" name="productDetail" size="60">
         </div>
         <div class="form-foto">
            <label for="">Foto</label>
            <input type="file" name="avatar">
        </div>
         <div class="formulario-producto">
               <label for="">Clasificación</label>
               <input type="text" name="productClass" size="60">
         </div>
         <div class="formulario-producto">
               <label for="">Variedad</label>
               <input type="text" name="productClass" size="63">
         </div>
         <div class="formulario-producto">
              <label for="">Precio</label>
               <input type="text" name="productPrice" size="65">
         </div>
         </div>
         <button type="submit" onclick="alert('Vas a modificar este producto. Estás seguro?')" class="create">Agregar</button><br>
         <button type="reset" class="delete">Borrar</button>
      </div>
      </form>
      <%- include('../partials/footer.ejs')  %>

   </body>
</html>