<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <main>
      <form action="/products" method="POST" class="form-editpproduct-style" enctype="multipart/form-data">
         <h3 class="title-h3">Crear Producto</h3>
         <div class="createProductContainer">      
            <div class="row">
               <div class="col-25">
                  <label for="name">Nombre</label>
               </div>
               <div class="col-75">
                  <input type="text" id="name" name="name" placeholder="Nombre del producto...">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="classification">Clasificación</label>
               </div>
               <div class="col-75">
                  <input type="text" id="classification" name="classification" placeholder="Clasificación...">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="variety">Variedad</label>
               </div>
               <div class="col-75">
                  <input type="text" id="variety" name="variety" placeholder="Variedad...">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="price">Precio</label>
               </div>
               <div class="col-75">
                  <input type="text" id="price" name="price" placeholder="Precio">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="featured">Destacado</label>
               </div>
               <div class="col-75">
                  <input type="checkbox" id="featured" name="featured">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="image">Imagen del producto</label>
               </div>
               <div class="col-75">
                  <label for="file-upload" class="custom-file-upload">
                     <i class="fas fa-cloud-upload-alt"></i> Subir imagen
                  </label>
                  <input id="file-upload" type="file" name="productImage" required>
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="description">Descripción</label>
               </div>
               <div class="col-75">
                  <textarea id="subject" name="description" placeholder="Descripción del producto..."></textarea>
               </div>
            </div>
            <br>
            <div class="row">
               <input type="submit" id='createProduct' value="Crear producto"
                  onclick="return confirm('¿Estas seguro que desea crear este producto?')" class="confirmButton">
            </div>
      </form>
   </main>
   <%- include('../partials/footer.ejs')  %>
</body>

</html>