<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel="stylesheet" href='/css/login.css'>
    <link rel="stylesheet" href='/css/productDetail.css'>
    <link rel="stylesheet" href='/css/productcart.css'>
    <link rel="stylesheet" href='/css/productoCreate.css'>
    <link rel='stylesheet' href='/css/productEdit.css' />
    <link rel="stylesheet" href='/css/product.css'> 
</head>
<body>
  <header>
  <%- include('../partials/header.ejs')  %>
  </header>
   <main>
      <form action="/products" method="POST" class="form-editpproduct-style" enctype="multipart/form-data">
         <h3 class="title-h3">Crear Producto</h3>
      <table>
         <thead>
            <th> Id </th>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Clasificación </th>
            <th> Variedad  </th>
            <th> Precio </th>
            <th> Featured </th>
            <th> Foto </th>
         </thead>
         <tbody>
            <tr>
                <td> 
                  <input  style="width : 50px;" type="number" name="idProduct" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="name" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="description" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="classification" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="variety" class="input-style">      
               </td>
               <td> 
                  <input style="width : 70px;" type="number" name="price" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="boolean"  name="featured" class="input-style">      
               </td>
               <td>
                  <input style="width : 130px;" type="file" name="image" class="input-style">
               </td>
               <td class="detail-product">
                  <button type="submit" onclick="alert('Producto Guardado')" class="button-style-save">Guardar</button><br>
            </td>
            </tr>
            
          
         </tbody>
      </table>
   </form>
      </main>

      <%- include('../partials/footer.ejs')  %>

   </body>
</html>
<!--Falta incluir

/products (GET)
Listado de productos

/products (POST)
Acción de creación (a donde se envía el formulario)

-->