<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <main>
      <form action="/products" method="POST" enctype="multipart/form-data" class="form-editpproduct-style createForm">
         <h3 class="title-h3">Crear Producto</h3>
         <div class="createProductContainer">      
            <div class="row">
               <div class="col-25">
                  <label for="name">Nombre</label>
               </div>
               <div class="col-75">
                  <input type="text" id="name" name="name" placeholder="Nombre del producto...">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="classification">Clasificación</label>
               </div>
               <div class="col-75">
                  <select name="classification_id" id="classification">
                        <option value="1">Tinto</option>
                        <option value="2">Blanco</option>
                        <option value="3">Rosado</option>
                     </select>
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="variety">Variedad</label>
               </div>
               <div class="col-75">
                  <select name="variety_id" id="variety">
                     <option value="1">Malbec</option>
                     <option value="2">Cavernet</option>
                     <option value="3">Merlot</option>
                     <option value="4">Syrah</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="price">Precio</label>
               </div>
               <div class="col-75">
                  <input type="text" id="price" name="price" placeholder="Precio">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="featured">Destacado</label>
               </div>
               <div class="col-75">
                  <input type="checkbox" id="featured" name="featured">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="image">Imagen del producto</label>
               </div>
               <div class="col-75">
                  <label for="file-upload" class="custom-file-upload">
                     <i class="fas fa-cloud-upload-alt"></i> Subir imagen
                  </label>
                  <input id="file-upload" type="file" name="productImage" accept=".png, .jpg, .jpeg" required>
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label for="description">Descripción</label>
               </div>
               <div class="col-75">
                  <textarea id="subject" name="description" placeholder="Descripción del producto..."></textarea>
               </div>
            </div>
            <br>
            <div class="row">
               <input type="submit" id='createProduct' value="Crear producto" class="confirmButton">
                  
            </div>
      </form>
   </main>
   <%- include('../partials/footer.ejs')  %>
   <script src="/js/validationForms.js"></script>
</body>

</html>
