<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>LOREM IPSUM VINOS</title>
      <!--Favicon, iconito que se ve en el tab del navegador-->
      <link rel="icon" type="image/png" href="images/LogoWeb.svg">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href='/css/normalize.css'>
      <link rel="stylesheet" href='/css/header.css'>
      <link rel="stylesheet" href='/css/footer.css'>
      <link rel="stylesheet" href='/css/productDetail.css'>
   </head>
   <body>
      
      <%- include('../partials/header.ejs')  %>

      <form action="/product-detail" method="POST">
         <h3>Detalle del producto</h3>
         <div class="productDetail">
            <img src="/images/vinos/Vino1.jpg" alt="Vino">
            <div class="product">
               <p class="name">Vino Cuesta del Madero</p>
               <p class="type">Malbec</p>
               <p class="price">$1.770</p>
               <p class="discount">5% OFF</p>
               <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis deleniti, expedita veritatis, aspernatur suscipit ipsam optio, aliquam repellendus nesciunt repudiandae nam sequi. Voluptate blanditiis nobis nesciunt est accusantium rem.</p>
               <select name="cantidad" id="cantidad">
                  <option value="0" selected disabled>Seleccione una cantidad</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
               </select>
               <button type="submit" class="addToCart">Agregar al Carrito</button><br>
            </div>
         </div>
      </form>
      <div class="related">
         <h2>Productos relacionados</h2>
         <ol>
            <li>
               <img src="/images/vinos/vino2.webp">
               <div class="line"></div>
               <div class="product-details">
                  <p class="name">Vino 2</p>
                  <p class="price">$1.100</p>
                  <p class="discount">5% off</p>
               </div>
            </li>
            <li>
               <img src="/images/vinos/vino3.jpg">
               <div class=line></div>
               <div class="product-details">
                  <p class="name">Vino 3</p>
                  <p class="price">$800</p>
                  <p class="discount">20% off</p>
               </div>
            <li>
               <img src="/images/vinos/vino4.jpg">
               <div class=line></div>
               <div class="product-details">
                  <p class="name">Vino 4</p>
                  <p class="price">$1.200</p>
                  <p class="discount">10% off</p>
               </div>
            </li>
            <li>
               <img src="/images/vinos/vino5.jpg">
               <div class=line></div>
               <div class="product-details">
                  <p class="name">Vino 5</p>
                  <p class="price">$500</p>
                  <p class="discount">5% off</p>
               </div>
            </li>
         </ol>
      </div>
      <%- include('../partials/footer.ejs')  %>
   </body>
</html>