<%- include('../partials/head.ejs')  %>
<body>
  <header>
  <%- include('../partials/header.ejs')  %>
  </header>
   <main>
      <form action="/products" method="POST" class="form-editpproduct-style" enctype="multipart/form-data">
         <h3 class="title-h3">Crear Producto</h3>
      <table>
         <thead>
            <th> Id </th>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Clasificación </th>
            <th> Variedad  </th>
            <th> Precio </th>
            <th> Featured </th>
            <th> Foto </th>
         </thead>
         <tbody>
            <tr>
                <td> 
                  <input  style="width : 50px;" type="number" name="idProduct" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="name" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="description" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="classification" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="text" name="variety" class="input-style">      
               </td>
               <td> 
                  <input style="width : 70px;" type="number" name="price" class="input-style">      
               </td>
               <td> 
                  <input style="width : 130px;" type="boolean"  name="featured" class="input-style">      
               </td>
               <td>
                  <input style="width : 130px;" type="file" name="image" class="input-style">
               </td>
               <td class="detail-product">
                  <button type="submit" onclick="alert('Producto Guardado')" class="button-style-save">Guardar</button><br>
            </td>
            </tr>
            
          
         </tbody>
      </table>
   </form>
      </main>

      <%- include('../partials/footer.ejs')  %>

   </body>
</html>
<!--Falta incluir

/products (GET)
Listado de productos

/products (POST)
Acción de creación (a donde se envía el formulario)

-->