/* Mati - Columnas y colores aplicados según paleta subida al repo*/

.flex-container {
  display: flex;
  background-color:  rgb(53, 25, 25);
  color: #ffffff;
  justify-content: space-around;
}

.flex-item-left {
  background-color:  rgb(53, 25, 25);
  padding: 10px;
  color: #ffffff;
  align-self: flex-start;
}

.flex-container>div {
  margin: 10px;
  padding: 20px;
  font-size: 14px;
}


/* Estilo logos redes sociales - se paso de 40px en header a 30px en footer */

.fa-instagram {
  font-size: 1.75em;
}

.fa-facebook-square {
  font-size: 1.75em;
}

.fa-twitter {
  font-size: 1.75em;
}


/*Sacando estilo a lista*/

.lista {
  list-style-type: none;
}

.lista a {
  text-decoration: none;
  color: #ffffff;
}