
.slide {
   position: relative;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: calc( 300px + 3em);
}

.slide-open:checked + .slide-item {
   position: static;
   opacity: 100;
}

.slide-item {
   position: absolute;
   opacity: 0;
   -webkit-transition: opacity 0.6s ease-out;
   transition: opacity 0.6s ease-out;
}

.slide-item img {
   display: block;
   height: auto;
   max-width: 100%;
}

.slide-control {
   background: rgba(0, 0, 0, 0.28);
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   display: none;
   font-size: 40px;
   height: 40px;
   line-height: 35px;
   position: absolute;
   top: 50%;
   -webkit-transform: translate(0, -50%);
   cursor: pointer;
   -ms-transform: translate(0, -50%);
   transform: translate(0, -50%);
   text-align: center;
   width: 40px;
   z-index: 10;
}

.slide-control.prev {
   left: 2%;
}

.slide-control.next {
   right: 2%;
}

.slide-control:hover {
   background: rgba(0, 0, 0, 0.8);
   color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
   display: block;
}

.slide-indicador {
   list-style: none;
   margin: 0;
   padding: 0;
   position: absolute;
   bottom: 2%;
   left: 0;
   right: 0;
   text-align: center;
   z-index: 10;
}

.slide-indicador li {
   display: inline-block;
   margin: 0 5px;
}

.slide-circulo {
   color: #828282;
   cursor: pointer;
   display: block;
   font-size: 35px;
}

.slide-circulo:hover {
   color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
   color: #428bca;
}

#titulo {
   width: 100%;
   position: absolute;
   padding: 0px;
   margin: 0px auto;
   text-align: center;
   font-size: 27px;
   color: rgba(255, 255, 255, 1);
   font-family: 'Open Sans', sans-serif;
   z-index: 9999;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.home-carroussel {
    width: 100%;
 }
 
 .carroussel {
    position: relative;
    padding-bottom: 50px;
 }
 
 .text-carroussel {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 100px;
    text-align: right;
    width: 60%;
    font-size: 30px;
 }
 
 
 /* Seccion Productos destacados */
 
 .seccion {
    text-decoration: underline;
    margin-bottom: 30px;
 }
 
 .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
 }
 
 .productos-destacados {
    padding: 5px;
 }
 
 .product {
    border: solid 1px rgb(196, 195, 195);
    width: 22%;
    align-items: center;
    box-shadow: 0px 0px 10px rgb( 100, 100, 100);
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
 }
 
 .product:hover {
    width: 33%;
 }
 
 .img-botella {
    align-items: center;
 }
 
 .main-article {
    border-top: solid 1px rgb(170, 166, 166);
    margin: 15px
 }
 
 
 /*Collage fotos*/
 
 
 /* Fotos*/
 
 .pic {
    width: 112%;
    position: relative;
    left: 29%;
    border-radius: 5px;
 }
 
 .pic2 {
    width: 78%;
    position: relative;
    left: 20%;
    border-radius: 5px;
 }
 
 
 /*Collage*/
 
 .pic-collage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;

 }
 
 .pic-collage1 {
    position: relative;
    display: flex;
    flex-direction: column;
 }
 
 .pic-collage2 {
    position: relative;
    display: flex;
    flex-direction: column;
    
 }
 
 
 /*Texto*/

 .text-pic1,
 .text-pic2,
 .text-pic3 {
   background-color:  rgb(255, 255, 255);
   opacity: 0.75;
   position: absolute;
   z-index: 50;
   
 }
 
 .text-pic1 {
    top: 8%;
    text-align: left;
    width: 35%;
    font-size: 18px;
    left: 30%;
    z-index: 50;
    border-radius: 0 5px 5px 0
 }
 
 .text-pic2 {
    top: 80%;
    text-align: right;
    width: 46%;
    font-size: 18px;
    left: 95%;
    z-index: 50;
    border-radius: 5px 0 0 5px;
 }
 
 .text-pic3 {
    top: 70%;
    text-align: right;
    width: 60%;
    font-size: 20px;
    left: 38%;
    border-radius: 5px 0 0 5px;
 }
 
 
 /*Info adicional*/
 
 .aditional-info {
    display: flex;
    justify-content: space-between;
    background-color: rgba(228, 228, 228, 0.884);
 }
 
 .dato {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
 }
 
 .fa-credit-card,
 .fa-shipping-fast,
 .fa-wine-glass-alt {
    margin: 15px;
    color: rgb(77, 34, 34);
    font-size: 40px;
 }