* {
   box-sizing: border-box;
}

.formulario-producto {
   display: flex;
   flex-direction: column;
   margin: 5px;
   width: 12.5%; 
}
.back-edit {
   background-color: rgba(231, 229, 229, 0.959);
   margin: 10px;
}

.contenedor-editProduct {
   display: flex;
   flex-direction: row;
   width: 100% ;
   font-weight: bold;
  
}



.input-style {
  margin: 10px 5px;
}

.button-style-show {
  background-color: rgb(76, 134, 49);
  color: white;
  border-radius: 5px;
  padding: 5px;
  height: 50%;
  align-self: center;
  margin: 2px;
  
}



.button-style-save {
  background-color: rgb(70, 106, 136);
  color: white;
  border-radius: 5px;
  padding: 5px;
  height: 50%;
  align-self: center;
  margin: 2px;
}

.button-style-hide {
  background-color: rgb(109, 35, 35);
  color: white;
  border-radius: 5px;
  padding: 5px;
  height: 50%;
  align-self: center;
  margin: 2px;

}

.id {
  width: 5%;
}
