* {
    box-sizing: border-box;
 }
 .button-new {
    background-color: rgb(53, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 5px;
    height: 50%;
    align-self: center;
    margin: 10px;
  }

  table {
   width: 100%;
}
th, td {
   text-align: left;
   vertical-align: top;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}

th {
   background: #eee;
}

.titulo {
   margin: 10px;
}

.button-style-modify {
   background-color: rgb(49, 80, 100);
   color: white;
   border-radius: 5px;
   padding: 5px;
   height: 50%;
   align-self: center;
   margin: 2px;
}

.button-style-hide {
   background-color: rgb(109, 35, 35);
   color: white;
   border-radius: 5px;
   padding: 5px;
   height: 50%;
   align-self: center;
   margin: 2px;
}
