* {
    box-sizing: border-box;
 }
 
 .title-h3 {
   font-size: 36px;
   text-align: center;
   margin: 15px;
}

.input-style {
   margin: 10px 5px;
}

.button-style-show {
   background-color: rgb(76, 134, 49);
   color: white;
   border-radius: 5px;
   padding: 5px;
   height: 50%;
   align-self: center;
   margin: 2px;
}

.button-style-save {
   background-color: rgb(35, 53, 33);
   color: white;
   border-radius: 5px;
   padding: 5px;
   height: 50%;
   align-self: center;
   margin: 2px;
}

.button-style-delete {
   background-color: rgb(109, 35, 35);
   color: white;
   border-radius: 5px;
   padding: 5px;
   height: 50%;
   align-self: center;
   margin: 2px;
}
