/*Carroussel*/

.home-carroussel {
    width: 100%;
 }
 
 .carroussel {
    position: relative;
    padding-bottom: 50px;
 }
 
 .text-carroussel {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 100px;
    text-align: right;
    width: 60%;
    font-size: 30px;
 }
 
 
 /* Seccion Productos destacados */
 
 .seccion {
    text-decoration: underline;
    margin-bottom: 30px;
 }
 
 .products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
 }
 
 .productos-destacados {
    padding: 5px;
 }
 
 .product {
    border: solid 1px rgb(196, 195, 195);
    width: 22%;
    align-items: center;
    box-shadow: 0px 0px 10px rgb( 100, 100, 100);
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
 }
 
 .product:hover {
    width: 33%;
 }
 
 .img-botella {
    align-items: center;
 }
 
 .main-article {
    border-top: solid 1px rgb(170, 166, 166);
    margin: 15px
 }
 
 
 /*Collage fotos*/
 
 
 /* Fotos*/
 
 .pic {
    width: 112%;
    position: relative;
    left: 29%;
    border-radius: 5px;
 }
 
 .pic2 {
    width: 78%;
    position: relative;
    left: 20%;
    border-radius: 5px;
 }
 
 
 /*Collage*/
 
 .pic-collage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px
 }
 
 .pic-collage1 {
    position: relative;
    display: flex;
    flex-direction: column;
 }
 
 .pic-collage2 {
    position: relative;
    display: flex;
    flex-direction: column;
 }
 
 
 /*Texto*/
 
 .text-pic1 {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    position: absolute;
    top: 8%;
    text-align: left;
    width: 35%;
    font-size: 18px;
    left: 30%;
    z-index: 100;
 }
 
 .text-pic2 {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    position: absolute;
    top: 80%;
    text-align: right;
    width: 46%;
    font-size: 18px;
    left: 95%;
    z-index: 100;
 }
 
 .text-pic3 {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    position: absolute;
    top: 85%;
    text-align: right;
    width: 60%;
    font-size: 20px;
    left: 38%;
    z-index: 100;
 }
 
 
 /*Info adicional*/
 
 .aditional-info {
    display: flex;
    justify-content: space-between;
    background-color: rgba(228, 228, 228, 0.884);
 }
 
 .dato {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
 }
 
 .fa-credit-card,
 .fa-shipping-fast,
 .fa-wine-glass-alt {
    margin: 15px;
    color: rgb(77, 34, 34);
    font-size: 40px;
 }