<%- include('partials/head')  %>

<body>

  <%- include('partials/header')  %>
 
  
      <h2>Quienes somos</h2>
      <div >
        <p>Somos Flor, Diana, Juan y Mati. Y juntos formamos el equipo 4 de DH!</p>
      </div>


    <section>
      <div class="swiper mySwiper container">
          <div class="swiper-wrapper content">
              
              <div class="swiper-slide card">
                  <div class="card-content">
                      <div class="image">
                          <img src="images/about/img1.png" alt="">
                      </div>
                      <div class="media-icons">
                        <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
                      </div>
                  <div class="name-profession">
                      <span class="name">Florencia García</span>
                      <span class="profession">Web developer Full Stack / Especialista React</span>
                  </div>
                  <div class="button">
                    <button class="aboutMe"><a href="https://github.com/florgrc"><i class="fab fa-github"></i></a></button>
                </div>
                  </div>
              </div>

              <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="images/about/img2.png" alt="">
                    </div>
                    <div class="media-icons">
                      <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
                    </div>
                <div class="name-profession">
                    <span class="name">Juan F. Montenegro</span>
                    <span class="profession">Web developer Full Stack / Especialista Bases de Datos</span>
                </div>
                <div class="button">
                  <button class="aboutMe"><a href="https://github.com/jf-mb"><i class="fab fa-github"></i></a></button>
              </div>
                </div>
            </div>

            <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/about/img3.jpeg" alt="">
                  </div>
                  <div class="media-icons">
                    <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
                  </div>
              <div class="name-profession">
                  <span class="name">Matías Larroulet</span>
                  <span class="profession">Web developer Full Stack / Especialista Javascript</span>
              </div>
              <div class="button">
                <button class="aboutMe"><a href="https://github.com/CaciqueLarru"><i class="fab fa-github"></i></a></button>
            </div>
              </div>
          </div>

          <div class="swiper-slide card">
            <div class="card-content">
                <div class="image">
                    <img src="images/about/img4.jpg" alt="">
                </div>
                <div class="media-icons">
                  <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
                </div>
            <div class="name-profession">
                <span class="name">Diana Gay</span>
                <span class="profession">Web developer Full Stack / Especialista diseño CSS</span>
            </div>
            <div class="button">
              <button class="aboutMe"><a href="https://github.com/dianaegaya"><i class="fab fa-github"></i></a></button>
          </div>
            </div>
        </div>

        <div class="swiper-slide card">
          <div class="card-content">
              <div class="image">
                  <img src="images/about/img5.jpg" alt="">
              </div>
              <div class="media-icons">
                <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
              </div>
          <div class="name-profession">
              <span class="name">Uriel Sosa</span>
              <span class="profession">Profesor Full Stack DH / Especialista MercadoLiebre</span>
          </div>
          <div class="button">
            <button class="aboutMe"><a href="https://github.com/UrielSosa"><i class="fab fa-github"></i></a></button>
        </div>
          </div>
      </div>

      <div class="swiper-slide card">
        <div class="card-content">
            <div class="image">
                <img src="images/about/img6.png" alt="">
            </div>
            <div class="media-icons">
              <img src="images/about/logo-dh-blanco.png" alt="80" width="80">
            </div>
        <div class="name-profession">
            <span class="name">Leonardo Baña</span>
            <span class="profession">Profesor Full Stack DH</span>
        </div>

        <div class="button">
            <button class="aboutMe"><a href="https://github.com/UrielSosa"><i class="fab fa-github"></i></a></button>
        </div>
        </div>
    </div>
              
          </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>



  <%- include('partials/footer')  %>
</body>

</html>