<%- include('partials/head')  %>

<body>

  <%- include('partials/header')  %>


    <section class="productos-destacados">

    <h2 class="seccion">Contacatate con nosotros</h2>
    <div class="products">
            <h2>Dejanos un mensaje y nosotros te contactaremos!</h2>
      <div class="container">
        <form action="/action_page.php">
          <label for="fname">Nombre</label>
          <input type="text" id="fname" name="firstname">
      
          <label for="lname">Apellido</label>
          <input type="text" id="lname" name="lastname">
      
          <label for="country">Pais</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Mensaje</label>
          <textarea id="subject" name="subject" placeholder="Escribe tu mensaje.." style="height:200px"></textarea>
      
          <input type="submit" value="Enviar">
        </form>
  </div>
    </section>



    </section>

    <section class="aditional-info">
      <div class="dato">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Ademas tenemos cuotas sin interés!</p>
      </div>
      <div class="dato">
        <i class="fas fa-shipping-fast"></i>
        <h4>Envío gratis desde los $5.000</h4>
        <p>Envio gratis a CABA y GBA sin minimo de compra.</p>
      </div>
      <div class="dato">
        <i class="fas fa-wine-glass-alt"></i>
        <h4>Ofrecemos las mejores experiencias</h4>
        <p>¡Descubrí las mejores experiencias de la mano de expertos!</p>
      </div>
    </section>
  <%- include('partials/footer')  %>
</body>

</html>