<%- include('partials/head.ejs')  %>

<body>
    <%- include('partials/header.ejs')  %>
    <!-- EJEMPLO DE FORMATO CORRECTO PARA NUEVA VISTA -->
    <!-- CONTENIDO ACA -->
    <%- include('partials/footer.ejs')  %>
</body>

</html>