</div>
<footer class="footer-style">

  <div class="footer-container">
    <div class="logo-footer"><a href="/"><img src="/images/LogoWeb.svg" alt="logo" class="logo"></a></div>
    <div class="flex-item-left">

      <h3>Menu</h3>
      <ul class="lista">
        <li><a href="/products/catalogue">Nuestros productos</a></li>
        <li><a href="/contact">Contactanos</a></li>
        <li><a href="/about">Quienes Somos</a></li>
      </ul>

    </div>
    <div class="flex-item-left">
      <h3>Contacto</h3>
      <ul class="lista">
        <li><i class="fas fa-envelope"></i>
          <a> contacto@tiendadevinos.com</a></li>
        <li><i class="fas fa-phone-alt"></i></a>
          <a>+549 11 6111 1119</a>
      </ul>
    </div>

    <div class="flex-item-left">
      <h3>Seguinos</h3>
      <ul class="lista">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </ul>
    </div>
  </div>
</footer>