<header class="header">
    <article class="header-top">
      <div class="logo2"><a href="/"><img width="100px" src="/images/LogoWeb.svg" alt="logo" class="logo"></a></div>
      <div class="search-bar"><form action="/busqueda" method="GET">
        <label for="busqueda"></label>
        <input type="text" name="busqueda" placeholder="¿Qué estás buscando?" class="search-design">
      </form>
      </div>
      <div class="icons">
        <a href="/users/login"><i class="fas fa-user-circle"></i></a>
        <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </article>
      
    <article class="sections">
        <a href="/products">Nuestros Productos</a>
        <a href="#">Combos</a>
        <a href="#">Promociones</a>
        <a href="#">Viví tu experiencia</a>
        <a href="#">Quienes somos</a>
        <a href="#">Contacto</a>
    </article>
   
  </header>