<header class="header">
    <article class="header-top">
      <div class="logo2"><a href="/"><img width="100px" src="/images/LogoWeb.svg" alt="logo" class="logo"></a></div>
        <form class="search" action="/busqueda" method="GET">
          <label for="busqueda"></label>
          <input type="text" placeholder="¿Qué estás buscando?" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      <div class="icons">
        <a href="/users/login"><i class="fas fa-user-circle"></i></a>
        <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </article>
      
    <article class="sections">
        <a href="/products">Nuestros Productos</a>
        <a href="#">Combos</a>
        <a href="#">Promociones</a>
        <a href="#">Viví tu experiencia</a>
        <a href="#">Quienes somos</a>
        <a href="#">Contacto</a>
    </article>
   
  </header>