<header class="header">
  <div class="logo">
    <a href="/"><img src="/images/LogoWeb.svg" alt="logo" class="logo" width="130"></a>
  </div>
  <div class="header-right">
    <div class="header-r-top">
      <div class="spacer"></div>
      <div class="header-search">
        <form class="search" action="/products/search" method="GET">
          <label for="busqueda"></label>
          <input type="text" name="termPmin" placeholder="Precio minimo">
          <label for="busqueda"></label>
          <input type="text" name="termPmax" placeholder="Precio máximo">
          <label for="busqueda"></label>
          <input type="text" name="term" placeholder="Tipo de vino">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="header-r-bot">
      <div class="navbar">
        <a href="/products/catalogue">Nuestros Productos</a>
        <a href="/contact">Contactanos</a>
        <a href="/about">Quienes somos</a>
      </div>
      <div class="loggedUser">
        <% if (locals.isLogged) { %>
        <div class="userButtons">
          <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
          <img src="/images/users/<%= loggedUser.image %>" width="15%" style="border-radius: 100%">
          <a href="/users/profile"><%= loggedUser.firstname %></a>
          <div class="dropdownArrow">
            <i class="fas fa-sort-down"></i>
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="/users/logout">Logout</a>
                <% if( locals.loggedUser != undefined ) {%>
                <% if( locals.loggedUser.type_id === 1 ) { %>
                <a href="http://localhost:3000/"><button class="regularButton">Dashboard TWS</button></a>
                <% } %>
                <% } else { %>
                <% } %>
                <%if(locals.loggedUser != undefined) {%>
                <% if( locals.loggedUser.type_id === 1 ) { %>
                <a href="/products"><button class="regularButton">Listado de productos</button></a>
                <% } %>
                <% } else { %>
                <% } %>
              </div>
            </div>
            
            <% } else { %>
            <a href="/users/register">Registrate</a>
            <a href="/users/login">Login</a>
            <% } %>
          </div>

        </div>
      </div>


      

    </div>
  </div>
</header>
<div class="footerFix">
  <div class="viewContent">