<header class="header">
  <article class="header-top">
    <div class="logo"><a href="/"><img src="/images/LogoWeb.svg" alt="logo" class="logo"></a></div>
    <form class="search" action="/busqueda" method="GET">
      <label for="busqueda"></label>
      <input type="text" placeholder="¿Qué estás buscando?" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="icons">
      <% if (locals.isLogged) { %>
       <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="flase">
         <img src="/images/users/deefault-image1.png" width="40" style="border-radius: 100%"> Hi User
       </a>
       <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        <% } else { %>
      <a href="/users/login"><i class="fas fa-user-circle"></i></a>
      <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
        <% } %>
  </article>
  <article class="sections">
    <a href="/products">Nuestros Productos</a>
    <a href="#">Combos</a>
    <a href="#">Promociones</a>
    <a href="#">Viví tu experiencia</a>
    <a href="#">Quienes somos</a>
    <a href="/users/login">Login</a>
  </article>

</header>
<div class="content">
  <!-- apertura de div que engloba el contenido de la pagina, necesario para que el footer quede fijo al pie de la pagina -->