<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/header.ejs')  %>
    <div class="cover">
        <h1>ERROR: Sin autorización <small>401</small></h1>
        <p class="lead">No tiene permisos suficientes para realizar esa petición.</p>
    </div>
    <%- include('../partials/footer.ejs')  %>
</body>

</html>