<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/header.ejs')  %>
    <div class="cover">
        <h1>ERROR: No encontrado <small>404</small></h1>
        <p class="lead">El recurso solicitado no existe.</p>
    </div>
    <%- include('../partials/footer.ejs')  %>
</body>

</html>