<%- include('../partials/head.ejs')  %>
<body>
   
   <%- include('../partials/header.ejs')  %>

      <form action="/login" method="POST" class="form-style">
         <h3>Ingresa</h3>
         <div class="formulario-registro">
            <label for="">Email</label>
            <input type="text" name="mail">
         </div>
         <div class="formulario-registro">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <div class="rememberMe">
               <label for="Recordarme"><input type="checkbox" id="box1" value="password">Recordarme: </label>
            </div>
            <div class="resetPassword">
               <a href="">Recuperar contraseña</a>
            </div>
            <a href="/users/register">No tenes cuenta? Registrate!</a>
         </div>
         <button type="submit" class="enviar">Ingresar</button><br>
      </form>
      <%- include('../partials/footer.ejs')  %>
   </body>
</html>