<%- include('../partials/head.ejs')  %>
<body>
   
   <%- include('../partials/header.ejs')  %>
   
  </header>
      <form action="/register" method="POST" class="form-style">
         <h3>Registrate</h3>
         <div class="formulario-registro">
            <label for="">Nombre y apellido</label>
            <input type="text" name="fullname">
         </div>
         <div class="formulario-registro">
            <label for="">Fecha de nacimiento</label>
            <input type="date" name="">
         </div>
         <div class="formulario-registro">
            <label for="">Email</label>
            <input type="mail" name="mail">
         </div>
         <div class="formulario-registro">
            <label for="">Contraseña</label>
            <input type="password" name="password">
         </div>
         <div class="formulario-registro">
            <label for="">Repetir Contraseña</label>
            <input type="password" name="repassword">
         </div>
         <button type="submit" class="enviar">Registrarme</button><br>
         <button type="reset" class="borrar">Borrar</button><br>
      </form>
      <%- include('../partials/footer.ejs')  %> 

   </body>
</html>